@import '../../../styles/_variables.scss';

.steps {
  display: flex;
  flex-direction: column;

  &__title {
    margin: 0 0 40px;

    @media screen and (min-width: $DESKTOP){
      max-width: 866px;
    }
  }

  &__list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;

    @media screen and (min-width: $DESKTOP){
      padding-top: 43px;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 27px;
      row-gap: 40px;
    }
  }

  &__item {
    padding: 8px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;

    @media screen and (min-width: $PAD){
      padding: 24px;
    }

    &-number {
      &-wrapper {
        width: 24px;
        height: 24px;
        margin: 0 0 14px;
        align-self: end;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid $BLUE;
        border-radius: 50%;

        @media screen and (min-width: $PAD){
          margin: 0 0 24px;
          width: 42px;
          height: 42px;
        }

        @media screen and (min-width: $DESKTOP){
          margin: 0 0 32px;
        }
      }
      margin: 0;
      @include font_text(10px, 1.33, $WHITE);

      @media screen and (min-width: $PAD){
        font-size: 18px;
        line-height: 1.33;
      }

    }

    &-title {
      margin: 0 0 10px;
      @include font_text(18px, 1.33, $WHITE, 500);
      text-align: left;

      @media screen and (min-width: $PAD){
        margin: 0 0 12px;
        font-size: 20px;
        line-height: 1.4;
      }

      @media screen and (min-width: $DESKTOP){
        font-size: 24px;
        line-height: 1.33;
      }
    }

    &-description {
      margin: 0;
      @include font_text(14px, 1.43, $GRAY_TEXT);
      text-align: left;

      @media screen and (min-width: $PAD){
        font-size: 18px;
        line-height: 1.33;
      }
    }
  }
}
