@import '../../styles/_variables.scss';

.faq {
  &__subtitle {
    margin: 0 0 32px;

    @media screen  and (min-width: $PAD){
      @include font_text(40px, 1.35, $WHITE, 500);
    }

    @media screen  and (min-width: $DESKTOP){
      margin: 0 0 60px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    @media screen  and (min-width: $PAD){
      row-gap: 32px;
    }
  }

  &__details {
    position: relative;
    padding: 0 34px 32px 0;
    border-bottom: 1px solid $GRAY_LINE;

    @media screen  and (min-width: $PAD){
      padding: 0 0 32px;
    }
  }

  &__details[open] {
    @media screen and (max-width: $PAD_WITHOUT){
      padding-bottom: 20px;
    }
  }

  &__question {
    display: flex;
    cursor: pointer;
    &::-webkit-details-marker {
      display: none;
    }

    list-style: none;

    @media screen and (min-width: $DESKTOP){

    }

    &-icon {
      position: absolute;
      top: 11px;
      right: -13px;
      width: 24px;
      height: 24px;
      background-color: $BLUE;
      border-radius: 50%;


      transform: translate(-50%, -50%) rotate(0deg);
      cursor: pointer;
      transition: 0.4s cubic-bezier(0.2, 0.6, 0.3, 1.1);

      @media screen and (min-width: $PAD){
        top: 21px;
        right: -21px;
        width: 42px;
        height: 42px;
      }

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 1px;
        width: 12px;
        background: white;

        @media screen and (min-width: $PAD){
          width: 20px;
          height: 2px;
        }
      }

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 12px;
        width: 1px;
        background: white;

        @media screen and (min-width: $PAD){
          height: 20px;
          width: 2px;
        }
      }
    }

    &-text {
      margin: 0;
      @include font_text(18px, 1.33, $WHITE, 500);
      text-align: left;

      @media screen and (min-width: $PAD){
        max-width: 560px;
        font-size: 24px;
      }

      @media screen and (min-width: $DESKTOP_MIN){
        max-width: 829px;
      }
    }
  }

  &__details[open] &__question-icon {
    transform: translate(-50%, -50%) rotate(180deg);

    &:before {
      width: 0;
    }
  }

  &__answer {
    margin: 0;
    padding-top: 12px;

    @include font_text(16px, 1.38, $GRAY_TEXT_FAQ);
    text-align: left;

    @media screen and (min-width: $PAD){
      padding-top: 24px;
      max-width: 560px;
      font-size: 18px;
      line-height: 1.33;
    }

    @media screen and (min-width: $DESKTOP_MIN){
      max-width: 939px;
    }
  }

}
