@import '../../../styles/_variables.scss';

// анимация линии
@keyframes header-line {
  100% {stroke-dasharray:3500,0;}
}

// класс для svg-линии
.header-line {
  stroke-dasharray:0,3500;
  animation: header-line 5s linear forwards 0s;
}

.header-line-wrapper {
  position: relative;
  width: 0;
  height: 0
}

.header-line-element {
  display: none;

  @media screen and (min-width: $DESKTOP){
    display: block;
    position: absolute;
    top: -17px;
    left: -86px;
    z-index: -1;
  }
}
