@import './variables';

.project {
  width: 100%;
  display: grid;
  padding: 0 18px 70px;
  justify-self: center;
  box-sizing: border-box;

  @media screen and (min-width: $PAD){
    padding: 0 50px 90px;
  }

  @media screen and (min-width: $DESKTOP){
    width: 1280px;
    padding: 0 70px 110px;
  }

  &__title {
    margin: 0;
    padding-top: 70px;
    padding-bottom: 28px;
    @include font_text(18px, 22px);
    letter-spacing: -0.04em;
    border-bottom: 1px solid black;

    @media screen and (min-width: $PAD){
      padding-top: 90px;
      padding-bottom: 23px;
      @include font_text(22px, 27px);
    }

    @media screen and (min-width: $DESKTOP){
      padding-top: 110px;
    }
  }

  &__description {
    margin: 0;
    @include font_text(11px, 16px);

    @media screen and (min-width: $PAD){
      @include font_text(12px, 18px);
    }

    @media screen and (min-width: $DESKTOP){
      @include font_text(14px, 20px);
    }
  }
}
