@import '../../styles/_variables.scss';

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;

  &__title {
    width: 1135px;
    margin-top: 116px;
    margin-bottom: 90px;

    @include font_text(60px, 1.17, $WHITE, 500);
    text-align: center;
    letter-spacing: -0.01em;

    &_type_blue {
      color: $BLUE;
    }
  }
}
