@import '../../../styles/_variables.scss';

.tools {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 33px;
  background-color: $BLACK_BLUE;

  @media screen and (min-width: $DESKTOP){
    margin-top: 160px;
  }

  &__list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: $DESKTOP){
      width: $DESKTOP;
      padding: 56px 0 55px;
      column-gap: 160px;
    }
  }

  &__item {

  }
}
