@import '../../styles/_variables.scss';

.header {
  display: flex;
  width: $DESKTOP;
  padding: 24px 87px;

  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  &__logo-link {
    display: flex;
  }

  &__logo {
    width: 111px;
    height: 24px;
  }

  &__button-menu {
    @media screen and (min-width: $MOBILE){

    }

    @media screen and (min-width: $DESKTOP){
      display: none;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;

    &-link {
      margin-left: 24px;
      @include font_text(18px, 1.33, $GRAY_NAV, 700);
      text-decoration: none;
    }

    &-link-project {
      margin-left: 32px;
      padding: 16px 40px;
      @include font_text(18px, 1.33, $WHITE, 500);
      text-decoration: none;
      background-color: $BLUE;
      border-radius: 14px;
    }
  }

}

