@import '../../styles/_variables.scss';

@keyframes feedback-line {
  100% {
    stroke-dasharray: 3000, 0;
  }
}

// класс для svg-линии
.feedback-line-svg {
  stroke-dasharray: 0, 3000;
  animation: feedback-line 3s linear forwards 0s;
}

.feedback {
  @media screen and (min-width: $DESKTOP) {
    margin-bottom: 190px;
  }

  &__wrapper {
    @media screen and (min-width: $DESKTOP) {
      position: relative;
      padding: 0 88px;
    }
  }

  &__line {
    top: 19px;
    left: 32px;
  }

  &__subtitle {
    margin-bottom: 12px;
    @media screen and (min-width: $PAD) {
      @include font_text(40px, 1.35, $WHITE, 500);
    }

    @media screen and (min-width: $DESKTOP) {
      margin-bottom: 24px;
    }
  }
  &__description {
    @include font_text(16px, 1.38, $GRAY_TEXT);
    margin: 0;
    text-align: left;

    @media screen and (min-width: $PAD) {
      font-size: 18px;
      line-height: 1.33;
    }

    @media screen and (min-width: $DESKTOP) {
      max-width: 666px;
    }
  }

  &__form {
    display: grid;
    padding-top: 32px;
    padding-bottom: 0;
    row-gap: 24px;
    background-color: $BLACK;

    @media screen and (min-width: $PAD) {
      padding-top: 40px;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
    }

    @media screen and (min-width: $DESKTOP) {
      padding-right: 15px;
      width: 852px;
      padding-top: 60px;
      padding-bottom: 20px;
      column-gap: 25px;
    }

    &-input {
    }

    &-textarea {
      height: 144px;

      @media screen and (min-width: $PAD) {
        height: auto;
        grid-row: span 2;
      }
    }

    &__checkbox {
      position: relative;
      display: flex;
      cursor: pointer;
      &-input {
        position: absolute;
        opacity: 0;
      }

      &-text {
        margin-left: 36px;
        padding-bottom: 0;
        text-align: left;
        @include font_text(16px, 1.25, $WHITE_INPUT);

        @media screen and (min-width: $DESKTOP) {
          padding-bottom: 15px;
          font-size: 18px;
          line-height: 1.33;
        }

        &::before {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          width: 24px;
          height: 24px;
          background-color: #161c1e;
          border-radius: 4px;
        }
      }

      &-input:checked + &-text::before {
        background-image: url('../../images/icon-symbol-check.svg');
        background-repeat: no-repeat;
        background-size: 11px 9px;
        background-position: center;
      }

      &-input:focus-visible + &-text::before {
        outline: 1px solid $BLUE;
      }

      &-policy {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
        color: inherit;
        white-space: normal;
        word-wrap: break-word;
        text-align:left;
      }
    }

    &__preloader {
      margin: 0;
      padding: 16px 40px;
      @include font_text(18px, 1.33, $WHITE, 500);
      text-align: center;

      @media screen and (min-width: $PAD) {
        grid-column: span 2;
      }

      @media screen and (min-width: $DESKTOP) {
        margin-top: 21px;
      }
    }
    &__button-submit {
      margin: 0;
      text-align: center;

      @media screen and (min-width: $PAD) {
        grid-column: span 2;
      }

      @media screen and (min-width: $DESKTOP) {
        margin-top: 21px;
      }
    }
  }
}
