@import '../../styles/_variables.scss';
// анимация линии
@keyframes form-line {
  100% {stroke-dasharray:3500,0;}
}

// класс для svg-линии
.form-line {
  stroke-dasharray:0,3500;
  animation: tech-line 5s linear forwards 0s;
}


.feedback {
  @media screen and (min-width: $DESKTOP){
    margin-bottom: 200px;
  }

  &__line {
    display: none;

    @media screen and (min-width: $DESKTOP){
      display: block;
      position: absolute;
      top: 18px;
      left: 118px;
      z-index: -1;
    }
  }
  &__wrapper {
    @media screen and (min-width: $DESKTOP){
      position: relative;
      padding: 0 88px;
    }
  }

  &__subtitle {
    margin-bottom: 12px;
    @media screen and (min-width: $PAD){
      @include font_text(40px, 1.35, $WHITE, 500);
    }

    @media screen and (min-width: $DESKTOP){
      margin-bottom: 24px;
    }
  }
  &__description {
    @include font_text(16px, 1.38, $GRAY_TEXT);
    margin: 0;
    text-align: left;

    @media screen and (min-width: $PAD){
      font-size: 18px;
      line-height: 1.33;
    }

    @media screen and (min-width: $DESKTOP){
      max-width: 666px;
    }
  }

  &__form {
    display: grid;
    padding-top: 32px;
    padding-bottom: 0;
    row-gap: 24px;
    background-color: $BLACK;

    @media screen and (min-width: $PAD){
      padding-top: 40px;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
    }

    @media screen and (min-width: $DESKTOP){
      padding-right: 15px;
      width: 852px;
      padding-top: 60px;
      padding-bottom: 20px;
      column-gap: 25px;
    }

    &-input {
      padding: 15px 18px;
      border: 1px solid $GRAY_TEXT;
      border-radius: 14px;
      background-color: transparent;
      @include font_text(18px, 1.33, $WHITE_INPUT);

      @media screen and (min-width: $DESKTOP){

      }
    }

    &-textarea {
      height: 144px;

      @media screen and (min-width: $PAD){
        height: auto;
        grid-row: span 2;
      }

    }

    &__checkbox {
      position: relative;
      display: flex;
      &-input {
        position: absolute;
        opacity: 0;
      }

      &-text {
        margin-left: 36px;
        padding-bottom: 0;
        text-align: left;
        @include font_text(16px, 1.25, $WHITE_INPUT);

        @media screen and (min-width: $DESKTOP){
          padding-bottom: 15px;
          font-size: 18px;
          line-height: 1.33;
        }

        &::before {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          width: 24px;
          height: 24px;
          background-color: #161C1E;
          border-radius: 4px;
        }
      }

      &-input:checked + &-text::before {
        background-image: url("../../images/icon-symbol-check.svg");
        background-repeat: no-repeat;
        background-size: 11px 9px;
        background-position: center;
      }
    }

    &-button-submit {
      padding: 16px 40px;
      margin: 0;
      background-color: $BLUE;
      border: none;
      border-radius: 14px;
      @include font_text(18px, 1.33, $WHITE, 500);
      text-align: center;

      @media screen and (min-width: $PAD){
        grid-column: span 2;
      }

      @media screen and (min-width: $DESKTOP){
        margin-top: 21px;
      }
    }
  }
}
