@import '../../../styles/_variables.scss';

.advantage {
  width: 100%;
  display: flex;
  flex-direction: column;

  box-sizing: border-box;

  &__title {
    max-width: 560px;
    margin-bottom: 100px;
    text-align: center;
    align-self: center;
  }

  &__item {

    &-icon {
      width: 42px;
      height: 42px;
      margin-bottom: 28px;
    }

    &-title {
      margin: 0 0 12px;
      @include font_text(24px, 1.33, $WHITE_TITLE, 500);
      text-align: center;
    }

    &-description {
      margin: 0;
      @include font_text(24px, 1.33, $GRAY_TEXT);
      text-align: center;
    }
  }
}
