@import '../../../styles/_variables.scss';

.advantage {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__title {
    text-align: center;
    align-self: center;

    @media screen and (min-width: $PAD){
      max-width: 450px;
    }

    @media screen and (min-width: $DESKTOP){
      max-width: 560px;
      margin-bottom: 100px;
    }
  }

  &__list {
    @media screen and (min-width: $PAD)
      and (max-width: $DESKTOP_WITHOUT){
      grid-template-columns: repeat(2, 1fr);
      row-gap: 20px;
      column-gap: 20px;
    }
  }

  &__item {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    white-space: normal;

    @media screen and (min-width: $PAD) {
      padding: 24px;
    }

    @media screen and (min-width: $DESKTOP) {
      padding: 40px;
    }
    &-icon {
      width: 42px;
      height: 42px;
      margin-bottom: 9px;

      @media screen and (min-width: $PAD){
        margin-bottom: 30px;
      }

      @media screen and (min-width: $DESKTOP){
        margin-bottom: 28px;
      }
    }

    &-title {
      margin: 0 0 8px;
      @include font_text(20px, 1.4, $WHITE_TITLE, 500);
      text-align: center;

      @media screen and (min-width: $PAD){
        margin: 0 0 12px;
      }

      @media screen and (min-width: $DESKTOP){
        font-size: 24px;
        line-height: 1.33;
      }
    }

    &-description {
      margin: 0;
      @include font_text(16px, 1.38, $GRAY_TEXT);
      text-align: center;

      @media screen and (min-width: $PAD){
        font-size: 18px;
        line-height: 1.44;
      }

      @media screen and (min-width: $DESKTOP){
        font-size: 24px;
        line-height: 1.33;
      }
    }
  }
}
