@import '../../styles/_variables.scss';

.techs {
  width: $DESKTOP;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 160px;
  padding: 0 84px;
  box-sizing: border-box;

  &__title {

  }
}