@import '../../../styles/_variables.scss';
// анимация линии
@keyframes business-line {
  100% {stroke-dasharray:2500,0;}
}

// класс для svg-линии
.business-line {
  stroke-dasharray:0,2500;
  animation: business-line 3s linear forwards 0s;
}

.business-line-wrapper {
  position: relative;
  width: 0;
  height: 0
}

.business-line-element {
  display: none;

  @media screen and (min-width: $DESKTOP){
    display: block;
    position: absolute;
    top: -44px;
    left: -193px;
    z-index: -1;
  }
}
