@import './vendor/normalize.css';
@import './vendor/fonts/font.css';
@import './styles/_variables.scss';

.page {
  font-family: 'Onest', Arial, sans-serif;
  font-style: normal;
  color: $WHITE;
  background-color: $BLACK;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}