@import './vendor/normalize.css';
@import './vendor/fonts/font.css';
@import './styles/_variables.scss';

* {
  box-sizing: border-box;
}

.page {
  font-family: 'Onest', Arial, sans-serif;
  font-style: normal;
  color: $WHITE;
  background-color: $BLACK;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.link {
  @include font_text(18px, 1.33, $GRAY_NAV, 500);
  text-decoration: none;
  cursor: pointer;

  &:hover, &_active {
    color: $WHITE;
    transition: 2s;
  }

  &_disabled {
    color: $GRAY_DISABLE;
    cursor: auto;
  }
}

.button {
  padding: 16px 40px;
  @include font_text(18px, 1.33, $WHITE, 500);
  text-decoration: none;
  background-color: $BLUE;
  border: none;
  border-radius: 14px;
  cursor: pointer;

  &:hover, &_active {
    background-color: $BLUE_ACTIVE;
    transition: 2s;
  }

  &:disabled, &_disabled {
    background-color: $GRAY_DISABLE;
    color: $GRAY_DARK;
    cursor: auto;
  }
}

.input {
  &-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 56px;
    padding: 0 18px;
    flex-direction: column;
    justify-content: center;

    @include font_text(18px, 1.33, $WHITE_INPUT);
    text-align: left;

    border: 1px solid $GRAY_TEXT;
    border-radius: 14px;
    background-color: transparent;

    &_type_textarea {
      padding: 15px 18px;
      justify-content: flex-start;
    }
  }

  padding: 0;
  order: 1;
  color: $WHITE_INPUT;
  outline: none;
  border: none;
  resize: none;
  background-color: transparent;
  transition: 1s;

  &_type_textarea {
    flex: 1;
  }

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown {
    position: absolute;
    top:0;
    left: 0;
    transition: 1s;
  }

  &:not(placeholder-shown) + &-placeholder {
    position: absolute;
    color: transparent;
    transition: 1s;
  }

  &:placeholder-shown + &-placeholder {
    position: static;
    color: white;
    transition: 1s;
  }

  &:placeholder-shown:focus {
    position: static;
    transition: 1s;
  }

  &:focus + &-placeholder {
    padding-bottom: 2px;
    position: static;
    font-size: 8px;
    line-height: 1.25;
    color: $BLUE;

    transition: top 0.3s ease,
    color 0.3s ease,
    font-size 0.3s ease;
  }

  &-error {
    width: 100%;
    height: 22px;
    position: absolute;
    padding: 0 5px 0 18px;
    bottom: -24px;
    left: 0;
    font-size: 10px;
    line-height: 1.2;
    color: $RED;
  }
}
