@import '../../../styles/_variables.scss';
// анимация линии
@keyframes form-line {
  100% {stroke-dasharray:3500,0;}
}

// класс для svg-линии
.form-line {
  stroke-dasharray:0,3500;
  animation: tech-line 5s linear forwards 0s;
}

.feedback-line-wrapper {
  position: relative;
  width: 0;
  height: 0
}

.feedback-line-element {
  display: none;

  @media screen and (min-width: $DESKTOP){
    display: block;
    position: absolute;
    top: 18px;
    left: 28px;
    z-index: -1;
  }
}
