@import '../../styles/_variables.scss';

.contacts {
  margin-bottom: 43px;

  @media screen and (min-width: $DESKTOP){
    margin-bottom: 214px;
  }

  &__wrapper {
    @media screen and (min-width: $DESKTOP){
      padding: 0 86px;
    }
  }

  &__subtitle {
    margin: 0 0 26px;
    @media screen and (min-width: $DESKTOP){
      margin: 0 0 60px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    @media screen and (min-width: $DESKTOP){

    }
  }

  &__item {
    margin: 0;
    display: flex;
    @include font_text(18px, 1.33, $WHITE);
    text-align: left;

    @media screen and (min-width: $DESKTOP){
      font-size: 24px;
    }

    &-icon {
      width: 36px;
      &_type_mobile {
        background-image: url("../../images/icon-phone.svg");
        background-repeat: no-repeat;
        background-size: 22.2px 22.2px;
        background-position: 0 center;
      }

      &_type_email {
        background-image: url("../../images/icon-mail.svg");
        background-repeat: no-repeat;
        background-size: 21.5px 15.5px;
        background-position: 0 center;
      }
    }
  }
}
